name: Release

on:
  pull_request_target:
    branches:
      - "main"
    types:
      - closed

env:
  PYTHON_VERSION: 3.11
  POETRY_VERSION: 1.4.2

jobs:
  autorelease:
    name: AutoRelease
    if: |
      startsWith(github.event.pull_request.title, 'New Release - `beets-audiobooks` -> `v') &&
      github.event.label.name == 'release' &&
      github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: rm -rf .git/hooks

      - uses: actions/setup-node@v6
        with:
          node-version: 16
      - run: npm install js-yaml

      - name: Create Release
        id: create-release
        uses: "actions/github-script@v7.0.1"
        with:
          github-token: "${{ secrets.PAT }}"
          script: |
            const script = require('./.github/workflows/github-release/github-create-release.js')
            return await script({github, context, core})
