# https://docs.github.com/en/actions

name: "Trigger Release"

on:
  workflow_dispatch:

jobs:
  release:
    name: Trigger Release"

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v4
      - run: rm -rf .git/hooks

      - uses: actions/setup-node@v5
        with:
          node-version: 16
      - run: npm install js-yaml

      - name: "Trigger Release Check"
        id: release_prep
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/workflows/github-release/github-release-check.js')
            return await script({github, context, core})

      - uses: tibdex/github-app-token@v2
        id: get_bot_token
        if: ${{ env.RELEASE_NEEDED == 'true' }}
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        if: ${{ env.RELEASE_NEEDED == 'true' }}
        with:
          token: ${{ steps.get_bot_token.outputs.token }}
          branch: release/beets-audiobooks
          title: New Release - `beets-audiobooks` -> `${{ env.TAG_NAME }}`
          commit-message: New Release - `beets-audiobooks` -> `${{ env.TAG_NAME }}`
          body: |
            Updates the version of beets-audiobooks Docker image to a newer version.
          labels: release
