# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Typos Check

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  typo-check:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6

      - name: Run
        uses: crate-ci/typos@v1.41.0
        with:
          config: ./_typos.toml
